<div class="who_we_area title text-left p0 Lawyers_tree col-md-4 col-sm-6 wow fadeInUp" style="background-image: url({{ file_url(content.field_experienced_lawyers_image['#items'].entity.uri.value) }})">
                  <div class="ovrllay">
                     <div class="inner_text">
                        <h1><a href="{{ content.field_experienced_lawyers_link[0]['#url']|render }}">{{ content.field_experienced_lawyers_link[0]['#title']|render }}</a>  </h1>
                     </div>
                  </div>
               </div>