 <div  id="about"  class="bg_gradient_team py-70">
         <div class="container">
            <div class="row about_row  py-40">
               <!--#about-text start --> 
               <div class="who_we_area title text-left col-md-8 col-sm-6 col-4pad wow fadeInUp">
                  <h1 class="">   {{content.field_page_title.0}} </h1>
                  <p class="about-bottom-s  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> {{content.field_banner_desc.0}}</p>
               </div>
               <div class="who_we_area col-md-4 text-right col-sm-6 col-4pad wow fadeInUp">
                  <img src="{{ file_url(content.field_about_image['#items'].entity.uri.value) }}" class="border_img">
               </div>
            </div>
         </div>
      </div>