
<div class="about-banner-img" style="background-image: url({{ file_url(content.field_about_bg_image['#items'].entity.uri.value) }});">
   <div class="ovrllay">
      <section id="banner" class="pb_0" >
         <div class="container ">
            <div class="row py-70 mb_160">         
               <div id="banner-text" class="col-md-12 text-c  ">
                  <div class="left-borders">
                     <h5 class="wow fadeInUp main-about_h" data-wow-delay="0.2s" >{{ content.field_about_banner_title.0 }}</h5>
                     <p  class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"><span class="c_yellow"> {{ content.field_page_title.0 }} </span>  | {{ content.field_about_banner_desc.0}}</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>