
<ul class="Attorneys">
   <li>
      <h1>{{ content.field_services_title.0 }}</h1>
         <p>{{ content.field_services_tagline.0 }}</p>
   </li>
</ul>
<ul class="Attorney">
 <li><img src="{{ file_url(content.field_listing_image['#items'].entity.uri.value) }}"></li>
</ul>
