 <div class="who_we_area col-md-4 col-sm-6 wow fadeInUp">
   <div class="service-1 green-after">
      <div class="servise-top wow fadeInUp">
         <img src="{{ file_url(content.field_about_image['#items'].entity.uri.value) }}">
      </div>
      <h2 class="unify"> {{ content.field_about_title.0 }} </h2>
      <div class="button-div">
         <a href="{{ content.field_about_link[0]['#url']|render }}" class="button-s"> {{ content.field_about_link[0]['#title']|render }} </a>
      </div>
   </div>
</div>