<!-- #OUR CAPABILTIES Area start -->
      <div  id="about"  class=" py-70 bg_blue_img" style="background: url('{{ file_url(content.field_capability_bg_image['#items'].entity.uri.value) }} ') right top no-repeat;">
         <div class="container">
            <div class="row  ">
               <!--#CAPABILTIES-text start --> 
               <div class="title text-left   who_we_area col-md-7 col-sm-6 col-4pad wow fadeInUp">
                  <h1 class="c_f pt-0">{{ content.field_sub_title.0 }} </h1>
                  <p class="about-bottom-s c_f wow fadeInUp about-desc" style="visibility: visible; animation-name: fadeInUp;"> {{ content.field_about_us_desc.0 }}</p>
                  <ul class="right_icone">
                  {{ content.field_capability_lists }}
                  </ul>
               </div>
               <div class="who_we_area col-md-5 col-sm-6 col-4pad wow fadeInUp">
               </div>
            </div>
         </div>
      </div>
      <!-- #OUR CAPABILTIES Area End -->