 <!--start team Area -->
      <section class="bg_gradient_team PB_100">
         <div class="container">
            <div class="row text-center  ">
               <div class="title wow fadeInUp">
                  <h1>{{ content.field_sub_title.0 }}</h1>
                  <div class="hed_img"> 
                     <img src="{{ file_url(content.field_about_left_image['#items'].entity.uri.value) }}">
                  </div>
                  <p class="tagline">{{ content.field_about_us_desc.0 }} </p>
               </div>
            </div>
            <div class="row about_row ">
               {{ content.field_our_team }}               
            </div>
         </div>
      </section>
      <!--End team Area -->