<div class="our_partners_area bg-parthners py-70 ">
         <div class="container">
            <!--#Our Partners assets/images start -->
            <div class="partners wow fadeInUp">
               {{ content.field_clients_carousel }}
            </div>
            <!--#End Our Partners assets/images -->
         </div>
      </div>
   