<div class="item">
    <div class="media">
       <img src="{{ fields.field_icon_image.content }}">
    </div>
    {{ fields.body.content }}
    <div class="media-body text-center">
       <h4 class="body-slider media-heading">{{ fields.field_person_name.content }} </h4>
    </div>
 </div>
