
      <section class="">
         <div class="container">
            <div class="row text-center  ">
               <div class="title wow fadeInUp">
                  
                  {% if header %}
                   {{ header }} 
                  {% endif %}
               </div>
            </div>
            <div class="row about_row ">
               {% if rows %}
                      {{ rows }}
               {% endif %}
            </div>
         </div>
      </section>